<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Riiddles</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>RIDDDLES</h1>
    
    <div class="card">
        <p> <%= riddle %>  </p>
    </div>
    <div class="answer">
        <p> <%= riddleAnswer %> </p>
    </div>

</body>
</html>